.appointmentsPatient-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .appointments-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #161515;
    text-align: center;
  }
  
  div.appointment {
    background-color: #ffffff;
    border: 1px  rgb(31, 29, 29);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
  }
  
  .appointment p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #100f0f;
 
  }
  .datos{
    text-align: center;

  }
  
  @media screen and (max-width: 768px) {
    .appointment {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .appointment {
      width: 100%;
      border-radius: 0px;
      box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);;
      padding: 10px;
      margin-bottom: 10px;
    }
  
    .appointment p {
      font-size: 1rem;
      margin-bottom: 5px;
    }
  }
  